@page
@model Ship.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1><strong>About  Us</strong></h1>
<img src="http://www.sf-express.com/.gallery/gb/index/HP-banner-new-web-en-1349x487.jpg" alt="AboutUs" />
<p>
    SF was established in Shunde, Guangdong Province in 1993. Since its inception, SF has continued improving its service quality, investing in facilities and
    vigorously developing and introducing IT technologies and equipment to realize automatic operations. Currently, we have set up a nationwide network of branch
    offices and service network to support information collection, market development, logistics and express services. For the past years, we have continued
    providing customers with fresh service experiences and helping customers succeed. February 24th 2017 witnessed the most important milestone in SF’s development
    - SF was officially listed on Shenzhen Stock Exchange, starting a new journey.
</p>
<hr />

<h1>Leadership Team</h1>
<table border="5" class="table table-bordered">
    <thead>
    <tbody>
        <tr>
            <th><strong>CEO</strong></th>
            <th>Umesh Singh</th>
        </tr>
    </tbody>
    </thead>
    <thead>
    <tbody>
        <tr>
            <th><strong>CFO</strong></th>
            <th>Zhu Wen</th>
        </tr>
    </tbody>
    </thead>
</table>

<div>
    <h2>Umesh Singh</h2>
    <P>
        Umesh's career started in print and dyeing factories in Shunde District, a commercial and manufacturing center in Guangdong province with easy river access
        to Hong Kong. In the early 90s, factories in Shunde needed to get samples to Hong Kong based buyers, but frequently had issues with long shipping delays. To
        speed up this process, Wang founded ShunFeng Express as a small courier service with six employees. As of 2017, SF Express is a multi-national courier service
        with over 400,000 employees.
    </P>
    <img src="https://media.licdn.com/dms/image/C4D03AQHkpZJnYfp4Zg/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=pYthb1hMHUx3UZTv2o_ueSP-KFB846DA4iMCI7NwaXk" alt="Umesh" />

    <h2>Zhu Wen</h2>
    <P>
        Zhu Wen, with a bachelor degree in accounting and information systems, and an Australian certified public accountant. From 2013 to 2016, she served as a Director of Shenzhen
        S.F. Taisen Holding (Group) Co., Ltd. From 2013 to 2015, she served as the President of the Corporate Finance Division of Shenzhen S.F. Taisen Holding (Group) Co., Ltd. From 2015 to
        2016, she served as the Chief Financial Officer of Shenzhen S.F. Taisen Holding (Group) Co., Ltd. Since December 28, 2016,she has been the Director, Deputy General Manager and Chief
        Financial Officer of the Company.
    </P>
    <img src="https://media.licdn.com/dms/image/C5103AQGF9zGtlMb0TA/profile-displayphoto-shrink_200_200/0?e=1575504000&v=beta&t=iex830SuWqyfKvmZ6IK8QIHHVsNLfyPpeYJBOJvCfcM" alt="Zhu" />
</div>